* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--bg);
}

:root {
    --bg: #101b20;
    --color-font: #f9f9f9be;
    --font: "Poppins", sans-serif;
    /*
        Aqui se definen las variables
    */
}

#root {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    color: var(--color-font);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
}

/*Part One*/

.partOne {
    padding: 5rem 5rem 0 5rem;
}

.partOne h1 {
    position: absolute;
    top:2rem;
    left: 3rem;
}

.partOne h2 {
    display: flex;
    justify-content: center;
}

.image {
    margin: 3rem;
}

/* Part Two*/

.partTwo h2, .partTwo h3 {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.partTwo h3 {
    margin-bottom: 1rem;
}

.stickers {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    background-color: white;
}

.input {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-top: 1rem;
}

.image, .sticker1, .sticker2, .sticker3 {
    height: 300px;
    width: 300px;
}

section div img {
    width: 100%;
    background-color: white;
}

.submit, .parrafo {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.5rem 5rem;
    margin-bottom: 2rem;
    color: white;
}

.btn:hover {
    border: 2px #f9f9f9be solid;
}

.parrafo {
    color: #101b20;
    padding:2rem;
}








