* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--bg);
}

:root {
    --bg: #101b20;
    --color-font: #f9f9f9be;
    --font: "Poppins", sans-serif;
    /*
        Aqui se definen las variables
    */
}

#root {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    color: var(--color-font);
    /* display: flex;
    justify-content: center; */
}


